<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobBank"
        tools:targetApi="31">
        <activity
            android:name=".view.UserDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Company"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SignTypeUser"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Job_Add"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BasicSettings"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Profile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.JobRecommended"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Job_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Signup"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Presentation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>